.card {
    min-height: 300px;
    /* Ensures all cards have the same height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Keeps elements evenly spaced */
    border-radius: 10px;
    transition: 0.3s;
}

.card-body {
    flex-grow: 1;
}

.card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}